include ../breadcrumbs/_breadcrumbs
include ../../pug/schema/_mixins

// CONTENT
.content.bg-white
  .container
    // Article
    article.article.article--mt0(itemscope itemtype="http://schema.org/Event")
      // shema.org hidden
      link(itemprop="mainEntityOfPage" href="https://ldnstd.surge.com/article.html")
      meta(itemprop="inLanguage" content="en")
      meta(itemprop="startDate" content="2020-01-04T09:04:20+02:00")
      +metaLocation
      .row
        .col-12.col-md-7.col-lg-6
          .article__breadcrumbs(data-aos="fade-up")
            +breadcrumbs(['Home', 'What’s on', 'Sports'], 'blue')
        .col-12.col-md-5.offset-lg-1(js-teleport data-teleport-condition="<768" data-teleport-to="article-buy-btn")
          a(href='#').article__buy-btn
            span Buy Tickets
            +svgMono('arrow-right')

      .content__wrapper
        .row
          .col-12.col-md-7.col-lg-6
            .article__timestamp(data-aos="fade-up" itemprop="datePublished" content="2020-11-30T09:08:30+00:00") Friday – 8:30pm <br/>30 November 2019
            h1.article__title(data-aos="fade-up" itemprop="name") West Ham v <br/>Tottenham Hotspur

        .content__wrapper
          .row
            .col-12.col-md-10.col-lg-6
              .article__text(data-aos="fade-up")
                .wysiwyg(itemprop="about description")
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              div(data-teleport-target="article-buy-btn")
              div(data-teleport-target="article-prices")

              // cta section
              .article__cta-section(data-aos="fade-up")
                .article__cta-section-name Share the Event
                .article__cta-section-content
                  ul.share.socials-list
                    li
                      a(
                        title="share on facebook"
                        aria-label="share on facebook"
                        data-sharer="facebook"
                        data-hashtag="qwerty"
                        data-url="http://ldnstd.surge.sh/event.html")
                        +svgMono('social-facebook')
                    li
                      a(
                        title="share on twitter"
                        aria-label="share on twitter"
                        data-sharer="twitter"
                        data-title="Page title"
                        data-hashtags="qwerty"
                        data-url="http://ldnstd.surge.sh/event.html")
                        +svgMono('social-twitter')
                    li
                      a(
                        title="share on linkedin"
                        aria-label="share on linkedin"
                        data-sharer="linkedin"
                        data-hashtags="qwerty"
                        data-url="http://ldnstd.surge.sh/event.html")
                        +svgMono('social-linkedin')
              // cta section
              .article__cta-section(data-aos="fade-up")
                .article__cta-section-name Add to my schedule
                .article__cta-section-content
                  ul.calendar-add-list
                    li
                      a(href="#")
                        i.icon.icon-ical
                        span iCal
                    li
                      a(href="#")
                        i.icon.icon-googlecal
                        span Google

            .col-12.col-lg-6.col-xl-5.offset-xl-1(js-teleport data-teleport-to="article-prices" data-teleport-condition="<992")
              .article__prices(data-aos="fade-up")
                .prices-art.prices-art--bg-red
                  .prices-art__content
                    .prices-art__title Final few seats
                  .prices-art__right.prices-art__right--iconed
                    +svgMono('seats2')
                .prices-art.prices-art--bg-cyan
                  .prices-art__content
                    .prices-art__title The Market
                    .prices-art__description VIP Upgrade
                  .prices-art__right
                    .prices-art__price FROM <span>£145</span>
                .prices-art
                  .prices-art__content
                    .prices-art__title Royal East Lounge
                    .prices-art__description Premium Hospitality
                  .prices-art__right
                    .prices-art__price FROM <span>£259</span>
                .prices-art
                  .prices-art__content
                    .prices-art__title Executive box
                    .prices-art__description Premium Hospitality
                  .prices-art__right
                    .prices-art__price FROM <span>£399</span>
